/*0.0.1*/
main {
    padding: 0rem;
    display: list-item;
}

/*0.0.1*/
/* Aplica un fondo de otro color a cada segunda sección */
section {
    text-align: center;
    margin-bottom: 0rem;
    display: grid;
    /* Mostrar contenido en línea */
    grid-template-columns: repeat(5, 1fr);
    padding: 2em;
}

/*0.1.1*/
/* Aplica un fondo de otro color a cada segunda sección */
section:nth-child(2n) {
    background-color: #ffffff;
    /*Hereda color de section*/
}

/*0.1.1*/
article:nth-child(2n+1) {
    background-color: #f0f0f0;
    /*Hereda color de article*/
}

/*0.0.2*/
section img {
    /* Crea un borde redondeado */
    border-radius: 10%;
    max-height: 30rem;
    grid-row: 1/5;
}

/*0.0.2*/
section h2 {
    grid-row: 1;
}

/*0.0.2*/
section p {
    grid-row: 2;
}

/*0.1.2*/
section img:nth-child(2n) {
    grid-column: 3/6;
}

/*0.1.2*/
section h2:nth-child(2n) {
    grid-column: 4/6;
}

/*0.1.2*/
section p:nth-child(2n+1) {
    grid-column: 4/6;
}

/*0.1.2*/
section img:nth-child(2n+1) {
    grid-column: 1/4;
}

/*0.1.2*/
section h2:nth-child(2n+1) {
    grid-column: 1/3;
}

/*0.1.2*/
section p:nth-child(2n) {
    grid-column: 1/3;
}

/*0.1.2*/
section a:nth-child(2n+1) {
    grid-column: 1/3;
}

/*0.1.2*/
section a:nth-child(2n) {
    grid-column: 4/6;
}

/*0.0.2*/
section a {
    padding: 1em 2em;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: 0.1rem solid #007BFF;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Para que se muestre como un bloque en línea */
    margin-top: 2rem;
    /* Espacio superior */
}

/*0.1.2*/
section a:hover {
    background-color: #0056b3;
    /*Hereda color de a*/
    border: 0.1rem solid #0056b3;
}

@media only screen and (max-width: 700px) {

    section {
        display: flex;
        flex-direction: column;
    }

    section img {
        padding-top: 1rem;
    }
}