main {
    padding: 0rem;
    display: list-item;
}

/* Aplica un fondo de otro color a cada segunda sección */
section {
    text-align: center;
    margin-bottom: 0rem;
    display: flex; /* Mostrar contenido en línea */
    padding: 2em;
}

/* Aplica un fondo de otro color a cada segunda sección */
section:nth-child(2n) {
    background-color: #ffffff;
}
article:nth-child(2n+1) {
    background-color: #f0f0f0;
}
article h2{
    text-align: center  ;
}
section img {
    /* Crea un borde redondeado */
    border-radius: 10%;
    max-height: 30rem;
}
