main article {
    background-color: white;
    padding-bottom: 5rem;
}

main article h2 {
    margin-bottom: 5rem;
    border: 2rem;
    border-color: dodgerblue;
    border-style: solid;
}

main article ul {
    display: grid;
    grid-template-columns: (2, 1fr);
    list-style: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 5rem;
}

article ul li {
    width: 75%;
    padding-left: 5rem;
    background-color: dodgerblue;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1em;
    border-color: transparent;
    background-clip: padding-box;
    border-style: solid;
    box-shadow: 0 0 0 0.5rem #FBB500;
}


article ul li:nth-child(2n+1) {
    grid-column: 1;
}

article ul li:nth-child(2n) {
    grid-column: 2;
}