/*0.0.1*/
footer {
    background-color: white;
    /*Hereda color de body*/
    text-align: center;
    padding: 1rem;
    bottom: 0;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
}

/*0.0.2*/
footer h2 {
    margin-bottom: 0;
    grid-row: 1;
    grid-column: 1;
    text-transform: uppercase;
}

/*0.0.2*/
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    grid-column: 2/-1;
    grid-row: 2;
    align-content: center;
}


/*0.0.3*/
footer ul li {
    padding-left: 2rem;
    padding-right: 2rem;
}


/*0.0.4*/
footer ul li a {
    font-size: 1.5rem;
    color: #1B1B1B;
    /*Hereda background-color de li*/
    text-decoration: none;
    font-weight: bold;
}

/*0.0.2*/
footer img {
    width: 100%;
    height: auto;
}

/*0.1.2*/
footer img:nth-child(n) {
    padding-left: 100%;
    grid-row: 3;
    grid-column: span 1;
}