main section:nth-child(2n+1) {
    display: grid;
    column-gap: 3rem;
    grid-template-areas:
        'h1 h1 h2 h3'
        'i1 i2 i3 i4'
        't1 t2 t3 t4'
        'p1 p2 p3 p4'
        'i5 i6 i7 n4'
        't5 t6 t7 n5'
        'p5 p6 p7 n6';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
}


main section:nth-child(2n+1) h2 {
    grid-row: 1;
    grid-column: 1/-1;
    padding-bottom: 5rem;
}

main section:nth-child(2n+1) img {
    border-radius: 10% 10% 0 0;
    width: 100%;
}

main section:nth-child(2n+1) h3 {
    font-size: 1.4em;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #1B1B1B;
    border: 0.2rem #1B1B1B;
    border-style: solid;
    border-bottom: 0;
}

main section:nth-child(2n+1) h3:nth-child(2n) {
    background-color: #FF6000;
}

main section:nth-child(2n+1) h3:nth-child(2n+1) {
    background-color: #FBB500;
}

main section:nth-child(2n+1) p {
    font-size: 1em;
    margin: 0;
    margin-bottom: 3rem;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5%;
    height: 90%;
    border-radius: 0 0 10% 10%;
    box-shadow: inset 0 0 0 0.2rem #1B1B1B;

}

main section:nth-child(2n+1) h3:nth-child(3) {
    grid-area: t1;
}

main section:nth-child(2n+1) h3:nth-child(6) {
    grid-area: t2;
}

main section:nth-child(2n+1) h3:nth-child(9) {
    grid-area: t3;
}

main section:nth-child(2n+1) h3:nth-child(12) {
    grid-area: t4;
}

main section:nth-child(2n+1) h3:nth-child(15) {
    grid-area: t5;
}

main section:nth-child(2n+1) h3:nth-child(18) {
    grid-area: t6;
}

main section:nth-child(2n+1) h3:nth-child(21) {
    grid-area: t7;
}

main section:nth-child(2n+1) p:nth-child(4) {
    grid-area: p1;
}

main section:nth-child(2n+1) p:nth-child(7) {
    grid-area: p2;
}

main section:nth-child(2n+1) p:nth-child(10) {
    grid-area: p3;
}

main section:nth-child(2n+1) p:nth-child(13) {
    grid-area: p4;
}

main section:nth-child(2n+1) p:nth-child(16) {
    grid-area: p5;
}

main section:nth-child(2n+1) p:nth-child(19) {
    grid-area: p6;
}

main section:nth-child(2n+1) p:nth-child(22) {
    grid-area: p7;
}

main section:nth-child(2n+1) img:nth-child(2) {
    grid-area: i1;
}

main section:nth-child(2n+1) img:nth-child(5) {
    grid-area: i2;
}

main section:nth-child(2n+1) img:nth-child(8) {
    grid-area: i3;
}

main section:nth-child(2n+1) img:nth-child(11) {
    grid-area: i4;
}

main section:nth-child(2n+1) img:nth-child(14) {
    grid-area: i5;
}

main section:nth-child(2n+1) img:nth-child(17) {
    grid-area: i6;
}

main section:nth-child(2n+1) img:nth-child(20) {
    grid-area: i7;
}