    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        /* Altura automática según el contenido */
        min-height: 100vh;
        background-color: #1B1B1B;
        color: #1B1B1B;
        ;

    }


    article,
    section p {
        position: relative;
        width: 100%;
        margin: 0;
        /* Elimina márgenes para ocupar todo el ancho */
        padding: 0;
        /* Elimina relleno para ocupar todo el ancho */

        color: #1B1B1B;
        border: 0rem;
        box-shadow: 0px 0px 0px 0px;
        /* Ajusta el valor para la distancia */
        font-size: 1rem;
        margin-top: 0rem;
    }


    article p {
        text-align: start;

    }


    article,
    section,
    aside {
        grid-column: 1/-1;
    }


    article h2,
    section h2 {
        margin-bottom: 10px;
    }

    article ul,
    section ul {
        list-style-type: disc;
        padding-left: 20px;
    }