body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3);
    /* Columna única para toda la página */
    min-height: 100vh;
    background-color: #1B1B1B;
}

header {
    text-align: center;
    padding-left: 1rem;
    grid-column: 1;
    grid-row: 1;
    color: #FBB500;
}
header h1{
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.2em;
    border-color: #FBB500;
    border-style: solid;

}
nav {
    color: white;
    grid-column: 2/-1;
    grid-row: 1;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    align-self: end; /* Para colocarlo en la parte inferior de la casilla */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-left: 2rem;
    display: inline;
    margin-right: 10px;
    border-bottom: 0.5rem solid #FBB500; 
}

nav a {
    color: white;
    text-decoration: none;
}
nav ul li:first-of-type{
    border-bottom: 0.5rem solid #FF6000; /* Cambia el color aquí */
}
main {
    background-color: white;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    grid-column: 1/-1;
}


main p {
    margin-bottom: 10px;
    grid-column: 1/-1;

}

main section {
    grid-column: 2/-1;

}

aside {
    grid-column: 1;
    grid-row: 3/4;
}

article,
section,
aside {
    margin-bottom: 20px;
}

article h2,
section h2,
aside h2 {
    margin-bottom: 10px;
}

article ul,
section ul,
aside ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 2rem;
    bottom: 0;
    grid-row: 3;
    grid-column: 1/-1;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
    margin-right: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}