/*Situacion*/
main section:nth-child(2n) {
    background-color: #FF6000;
    margin: 2rem;
    padding-top: 0rem;
    /*Hereda color de main*/
    font-weight: bold;
}

main section:nth-child(2n) h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #1B1B1B;
    color: white;
    margin-bottom: 0;
}

main section:nth-child(2n) p {
    background-color: white;
    padding-bottom: 1rem;
    font-size: 200%;
    color: #1B1B1B;
}