body {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-columns: repeat(4,25%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 5rem;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
}
section img {
    width: 20rem; 
    height: 20rem;
    border-radius: 50%; /* Crea un borde redondeado */
    display: block; /* Alinea la imagen en el centro */
    margin: 0 auto; /* Alinea la imagen en el centro */
}

main {
    padding: 2em;
    grid-column: 2/5;
    grid-row: 2/4;
}
aside {
    background-color: #f9f9f9;
    padding: 2em;
    grid-column: 1;
    grid-row: 2/4;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 2rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


section {
    margin-bottom: 5rem;
}

section h2 {
    color: #333;
}

aside h2 {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
    bottom: 0;
    grid-column: 1/5;
    grid-row: 4;
}